
h1, h2, h3 {
  text-align: center;
  color: darkblue;
}

section {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: darkblue;
}

ul {
    list-style-type: none;
}

.hint {
    font-style: italic;
}

.error-group {
    color: red;
}


.copyright {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: xx-small;
    color: darkblue;
}
